<div class="main-grid" *ngIf="showStart">
  <div class="header">Temperature Sensor Manager</div>
  <div class="settings">
    <button mat-button (click)="togglePage()">Settings</button>
  </div>
  <div class="current">Current Temperature: {{currentReading?.temperature}} ℉</div>
  <div class="refresh">
    <button mat-button (click)="refresh()">Refresh</button>
  </div>
  <div class="readings">
    <div class="readings-title">Temperature Reading:</div>
    <div class="readings-title">Time:</div>
    <div class="readings-title">Date:</div>
    <ng-container *ngFor="let reading of readings"> 
      <div [class.violation]="reading.temperature > threshold">{{reading.temperature}} ℉</div> 
      <div [class.violation]="reading.temperature > threshold">{{reading.timestamp | date:'h:mm a'}}</div>
      <div [class.violation]="reading.temperature > threshold">{{reading.timestamp | date:'M/d'}}</div>
    </ng-container>
  </div>
</div>

<div class="settings-grid" *ngIf="!showStart">
  <div class="header">Temperature Sensor Manager</div>
  <div class="settings">
    <button mat-button (click)="togglePage()">Main Page</button>
  </div>
  <div class="profile">
    <b class="first-column">Device Name</b>
    <div *ngIf="!editing" class="second-column">{{profile?.name}}</div>
    <mat-form-field *ngIf="editing">
      <input matInput [(ngModel)]="profile.name">
    </mat-form-field>

    <b class="first-column">Device Location</b>
    <div *ngIf="!editing" class="second-column">{{profile?.location}}</div>
    <mat-form-field *ngIf="editing">
      <input matInput [(ngModel)]="profile.location">
    </mat-form-field>

    <b class="first-column">Temperature Threshold</b>
    <div *ngIf="!editing" class="second-column">{{profile?.threshold}}</div>
    <mat-form-field *ngIf="editing">
      <input matInput [(ngModel)]="profile.threshold">
    </mat-form-field>

    <b class="first-column">Notification Phone Number</b>
    <div *ngIf="!editing" class="second-column">{{profile?.sms_number}}</div>
    <mat-form-field *ngIf="editing">
      <input matInput [(ngModel)]="profile.sms_number">
    </mat-form-field>
  </div>
  <button *ngIf= "!editing" class="action" mat-button (click)="editing = true">Edit</button>
  <button *ngIf= "editing" class="action" mat-button (click)="saveChanges()">Save</button>
</div>